<launch>

  <!-- args corresponding to environment variables -->

  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="global_frame" default="gps_garmin_origin" />
  <arg name="uav_first" default="uav1" />
  <arg name="uav_second" default="uav2" />
 <arg name="uav_third" default="uav3" />
  <arg name="uav_fourth" default="uav4" />
  <!-- <arg name="uav_fifth" default="uav5" /> -->
  <!-- <arg name="uav_sixth" default="uav29" /> -->



  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg UAV_NAME)_to_$(arg uav_first)" args="0.0 0.0 0.0 0 0.0 0.0 $(arg UAV_NAME)/$(arg global_frame) $(arg uav_first)/$(arg global_frame)" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg UAV_NAME)_to_$(arg uav_second)" args="0.0 0.0 0.0 0 0.0 0.0 $(arg UAV_NAME)/$(arg global_frame) $(arg uav_second)/$(arg global_frame)" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg UAV_NAME)_to_$(arg uav_third)" args="0.0 0.0 0.0 0 0.0 0.0 $(arg UAV_NAME)/$(arg global_frame) $(arg uav_third)/$(arg global_frame)" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg UAV_NAME)_to_$(arg uav_fourth)" args="0.0 0.0 0.0 0 0.0 0.0 $(arg UAV_NAME)/$(arg global_frame) $(arg uav_fourth)/$(arg global_frame)" />
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg UAV_NAME)_to_$(arg uav_fifth)" args="0.0 0.0 0.0 0 0.0 0.0 $(arg UAV_NAME)/$(arg global_frame) $(arg uav_fifth)/$(arg global_frame)" /> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="$(arg UAV_NAME)_to_$(arg uav_sixth)" args="0.0 0.0 0.0 0 0.0 0.0 $(arg UAV_NAME)/$(arg global_frame) $(arg uav_sixth)/$(arg global_frame)" /> -->

</launch>

